
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}

<!-- Heading info -->
<section class="tagpoint_row_section service_features" style="padding: 50px 0px 5px 0px">
    <div class="container">
        <h2 class="tp-large-head">
            Services
        </h2>
    </div>
</section>
<!-- Page body -->
<div class="tagpoint_row_section" style="padding-top:30px">
    <div class="container">
        <div class="">
            Services
        </div>
    </div>
</div>






