@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<!-- header section -->
<header class="tp-main-menu header-menu-1 sticky-header">
    <!-- top logo/contac inf -->
    <div class="container">
        <div class="row row_menu_3">
            <div class="col-lg-2 col-md-12 col-sm-12 col-logo-1">
                <div class="tagpoint-wrap-logo lwl_header_layout_1">
                    <a href="home" title="Karez Logo">
                        <img src="Contents/images/logos/karez-logo-v1.png" alt="Karez">
                    </a>
                    <span class="phone_menu phone_menu_2 p_color">
                        <i class='bx bx-menu'></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <nav class="tp-menu tp-menu-1">
                    <ul class="tagpoint-main-menu">
                        <li class="current_page_item  active p_color has-sub ">
                            <i class="bx bx-chevron-down tp_phone_dropdown"></i>
                            <a title="Home" href="Home">
                                <i class="bx bx-chevron-down"></i>
                                Home
                            </a>
                        </li>
                        <li class="has-sub">
                            <i class="bx bx-chevron-down tp_phone_dropdown"></i>
                            <a title="About Us" href="About">
                                <i class="bx bx-chevron-down"></i>
                                About us
                            </a>
                        </li>
                        <li class="has-sub">
                            <i class="bx bx-chevron-down tp_phone_dropdown"></i>
                            <a title="Services" href="Services">
                                <i class="bx bx-chevron-down"></i>
                                Services
                            </a>
                        </li>
                        <li class="has-sub">
                            <i class="bx bx-chevron-down tp_phone_dropdown"></i>
                            <a title="Projects" href="Projects">
                                <i class="bx bx-chevron-down"></i>
                                Projects
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-down tp_phone_dropdown"></i>
                            <a title="Services" href="Contact">
                                Contact us
                            </a>
                        </li>
                        <li class="wrap_search tp_csq  search_hlayout_1">
                            <i class='bx tp-seachicon-icon bx-search'></i>
                            <div class="search-content search-content_1 ">
                                <div class="tp_close_search_1">
                                    <i class='bx bx-x  tp_close_search_icon'></i>
                                </div>
                                <form class="tagpoint-nav-search" id="tagpoint-navsearch" action="#">
                                    <input type="text" name="s" value="" placeholder="Search..." id="lns-search">
                                    <button class="lns-button" type="submit">Search</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- slide section -->
<section class="uk-position-relative uk-visible-toggle uk-light" data-uk-slideshow="animation: fade;autoplay: true;max-height: 670;ratio: 4:3;">
    <ul class="uk-slideshow-items">
        <li>
            <div class="uk-position-cover  uk-animation-top-right tp_custom_overlay" data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="Contents/images/1200-1.jpg" alt="image slide" data-uk-cover>
            </div>
            <div class="uk-position-center  tp-slidecaption">
                <div class="uk-transition-slide-top-small">
                    <h3 class="tp-large-head tp_algin_center">Apartments</h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                    <h4 class=" tp-subhead tp_algin_center">A satisfied customer is the best business strategy of all and then they work every day. </h4>
                </div>
                <div class="uk-transition-slide-bottom-medium tp_algin_center">
                    <a class="slide_btn_1 tp_primary_btn p_bg w_color" href="#">Get A Qoute </a>
                    <a class="slide_btn_1 tp_scondary_btn w_color" href="#">Read More </a>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-position-cover  uk-animation-top-right tp_custom_overlay " data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="Contents/images/1200-2.jpg" alt="image slide" data-uk-cover>
            </div>
            <div class="uk-position-center  tp-slidecaption">
                <div class="uk-transition-slide-top-small">
                    <h3 class="tp-large-head tp_algin_center">Houses</h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                    <h4 class="tp-subhead tp_algin_center">A satisfied customer is the best business strategy of all and then they work every day. </h4>
                </div>
                <div class="uk-transition-slide-bottom-medium tp_algin_center">
                    <a class="slide_btn_1 tp_primary_btn p_bg w_color" href="#">Get A Qoute </a>
                    <a class="slide_btn_1 tp_scondary_btn w_color" href="#">Read More </a>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-position-cover  uk-animation-top-right   tp_custom_overlay" data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="Contents/images/1200-3.jpg" alt="image slide" data-uk-cover>
            </div>
            <div class="uk-position-center  tp-slidecaption">
                <div class="uk-transition-slide-top-small">
                    <h3 class="tp-large-head tp_algin_center">Condominiums</h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                    <h4 class=" tp-subhead tp_algin_center">A satisfied customer is the best business strategy of all and then they work every day. </h4>
                </div>
                <div class="uk-transition-slide-bottom-medium tp_algin_center">
                    <a class="slide_btn_1 tp_primary_btn p_bg w_color" href="#">Get A Qoute </a>
                    <a class="slide_btn_1 tp_scondary_btn w_color" href="#">Read More </a>
                </div>
            </div>
        </li>
    </ul>
    <div class="uk-dark tp_custom_nav_1">
        <a class="uk-position-center-left uk-position-small " href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small " href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
    </div>
</section>
<!-- Services layout 1 -->
<section class="tagpoint_row_section about_section">
    <div class="container tagpoint_container">
        <div class="row row_core_values">
            <div class="col-lg-8 col-md-8 offset-md-2 offset-ms-0 col-12">
                <div class="wrap_what_wedo_title tp_algin_center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;delay: 500;">
                    <h2 class="tp-large-head  ">
                        Karez for managing properties
                    </h2>
                    <div class="title_description_section">
                        <p class="tp_section_description ">
                            Karez is an online property management software that caters landlords/owners, tenants, property managers and real estate agents in an effective and efficient manner. There are 3 core components in the system:
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-8 col-md-8 offset-md-2 offset-ms-0 col-12">
                <div class="wrap_what_wedo_title tp_algin_center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;delay: 500;">
                    <div class="title_description_section">
                        <p class="tp_section_description ">
                            <img src="Contents/images/3-components.png" alt="image slide">
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6  col-12">
                <div class="wrap_core_value_content about_content" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > .tp_icon_section; delay: 500;">
                    <div class="tp_icon_section">
                        <div class="tp_wrap_icontitle d-flex  align-items-start tp_icon_left">
                            <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle">
                                <span class="tp_it_icon p_color">
                                    <i class="bx bx-cog"></i>
                                </span>
                            </div>
                            <div class="tp_icon_text">
                                <h3 class="tp_medium_title ">
                                    Core engine
                                </h3>
                                <p class="tp_icon_decs">
                                    Core solution with the ability to integrate with external systems
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6  col-12">
                <div class="wrap_core_value_content about_content" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > .tp_icon_section; delay: 500;">
                    <div class="tp_icon_section">
                        <div class="tp_wrap_icontitle d-flex  align-items-start tp_icon_left">
                            <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle">
                                <span class="tp_it_icon p_color">
                                    <i class="bx bx-globe"></i>
                                </span>
                            </div>
                            <div class="tp_icon_text">
                                <h3 class="tp_medium_title ">
                                    Web portal
                                </h3>
                                <p class="tp_icon_decs">
                                    Web apps for your properties, for property managers, tenants
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  col-12">
                <div class="row wrap_core_value_content about_content" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > .tp_icon_section; delay: 500;">
                    <div class="tp_icon_section col-lg-12 col-md-6 col-12">
                        <div class="tp_wrap_icontitle d-flex  align-items-start tp_icon_left">
                            <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle">
                                <span class="tp_it_icon p_color">
                                    <i class='bx bx-mobile'></i>
                                </span>
                            </div>
                            <div class="tp_icon_text">
                                <h3 class="tp_medium_title ">
                                    Mobile app
                                </h3>
                                <p class="tp_icon_decs">
                                    Web app for property managers, tenants
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Project title 3 -->
<section class="tagpoint_row_section  our_projects_3">
    <!-- title row -->
    <div class="container tagpoint_container">
        <div class="row tp_row align-items-center">
            <div class="col-lg-6 col-md-12 col-12  ">
                <div class="poroject_title_section ">
                    <span class="p_color tp_title_tips">Our Implementations</span>
                    <h2 class="tp-large-head  " data-uk-scrollspy="cls: uk-animation-slide-top-small;delay: 500;">
                        Explore our projects
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="wrap_portfolio_text">
                    <p class="tp_section_description  ">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio layout 3 -->
<section class="tagpoint_row_section section_project_3">
    <div class="container tagpoint_container">
        <div class="row  projects_rows_3 ">
            <div class="col-12  tp_col_porjects_3  ">
                <div>
                    <!-- projects to add grid layout just add uk-grid attribute -->
                    <ul class="row tp_custom_projects" data-uk-grid="masonry: true" data-uk-lightbox="animation: slide" data-uk-scrollspy="cls: uk-animation-fade; target: > li; delay: 100;">
                        <li class="col-lg-4 col-md-6 col-12">
                            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                                <img src="Contents/images/project-1.jpg" alt="portfolio title">
                                <span class="uk-transition-scale-up uk-position-cover tp_portfolio_overly">
                                    <!-- light box icon -->
                                    <a href="Contents/images/service_2.jpg" class="tp_lightbox_icon uk-position-center" data-caption="Apartments">
                                        <i class='bx bx-zoom-in'></i>
                                    </a>
                                </span>
                                <div class="uk-position-bottom tp_porfolio_caption">
                                    <div>
                                        <h3 class="tp_medium_title tp_portfolio_title w_color"><a href="#" title="Hospital Introior">Apartments</a></h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 col-12">
                            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                                <img src="Contents/images/project-2.jpg" alt="portfolio title">
                                <span class="uk-transition-scale-up uk-position-cover tp_portfolio_overly">
                                    <!-- light box icon -->
                                    <a href="Contents/images/about_6.jpg" class="tp_lightbox_icon uk-position-center" data-caption="Condominiums">
                                        <i class='bx bx-zoom-in'></i>
                                    </a>
                                </span>
                                <div class="uk-position-bottom tp_porfolio_caption">
                                    <div>
                                        <h3 class="tp_medium_title tp_portfolio_title w_color"><a href="#" title="Hospital Introior">Condominiums</a></h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-4 col-md-6 col-12 ">
                            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                                <img src="Contents/images/project-3.jpg" alt="portfolio title">
                                <span class="uk-transition-scale-up uk-position-cover tp_portfolio_overly">
                                    <!-- light box icon -->
                                    <a href="Contents/images/service_4.jpg" class="tp_lightbox_icon uk-position-center" data-caption="Houses">
                                        <i class='bx bx-zoom-in'></i>
                                    </a>
                                </span>
                                <div class="uk-position-bottom tp_porfolio_caption">
                                    <div>
                                        <h3 class="tp_medium_title tp_portfolio_title w_color"><a href="#" title="Hospital Introior">Houses</a></h3>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features section -->
<div class="tagpoint_row_section features_section">
    <div class="container tagpoint_container">
        <div class="row row_features">
            <div class="col-lg-6 col-md-12 col-12 col_features_img"></div>
            <div class="col-lg-6 col-md-12 col-12 col_features_content">
                <div class="wrap_features">
                    <h2 class="tp-large-head w_color" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;delay: 250;">
                        Implemention process
                    </h2>
                    <p class="tp_section_description w_color_2 " data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;delay: 500;">
                        Software implementation process takes following steps after an agreement is confirmed
                    </p>
                    <ul class="features_list" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; target: > li; delay: 450;">
                        <li>
                            <span class="feature_icon p_bg">
                                <i class='bx bx-check'></i>
                            </span>
                            <div class="feature_details">
                                <h3 class="tp_medium_title  w_color">Analysis</h3>
                                <p class="w_color_2">
                                    We do your requirement and gap analysis. Provide you the detail documentations and estimation to proceed to next step once approved
                                </p>
                            </div>
                        </li>
                        <li>
                            <span class="feature_icon p_bg">
                                <i class='bx bx-check'></i>
                            </span>
                            <div class="feature_details">
                                <h3 class="tp_medium_title  w_color">Customization</h3>
                                <p class="w_color_2">
                                    We do necessary customization and development in an agile approach
                                </p>
                            </div>
                        </li>
                        <li>
                            <span class="feature_icon p_bg">
                                <i class='bx bx-check'></i>
                            </span>
                            <div class="feature_details">
                                <h3 class="tp_medium_title  w_color">Implementation and support</h3>
                                <p class="w_color_2">
                                    We implement the whole project phase by phase once a module is completed. Our technical support team is always there 24/7 to provide any support user may need
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- what cleint say -->
<div class="tagpoint_row_section what_cleint_says">
    <div class="container">
        <div class="row testmonail_row_title">
            <div class="col-12">
                <div class="title_section title_news ">
                    <h2 class="tp-large-head  last_blog_title" data-uk-scrollspy="cls: uk-animation-slide-top-small;delay: 300;">
                        Client feedback
                    </h2>
                </div>

            </div>
        </div>
        <div class="row tp_inner_row testmonail_row_1">
            <div class="wrap_tesmonails_carousel uk-visible-toggle " data-uk-slider="autoplay: true;">
                <ul class=" uk-slider-items">

                    <li class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="wrap_testmoanil_info">
                            <span class="client_img">
                                <img src="Contents/images/model-free-photos/man-1-1.jpeg" alt="cleint name" />
                            </span>
                            <div class="testmonail_info_2">
                                <h3 class="tp_medium_title">David Ismail</h3>
                                <span class="testmonail_job_2">Property owner</span>
                                <ul class="testmonail_rating p_color">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bx-star'></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrap_tesmonail_text">
                            <p>
                                ... ... ...
                            </p>
                        </div>
                    </li>

                    <li class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="wrap_testmoanil_info">
                            <span class="client_img">
                                <img src="Contents/images/model-free-photos/women-1-1.jpeg" alt="cleint name" />
                            </span>
                            <div class="testmonail_info_2">
                                <h3 class="tp_medium_title">Sara Benjamin</h3>
                                <span class="testmonail_job_2">Prperty manager</span>
                                <ul class="testmonail_rating p_color">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrap_tesmonail_text">
                            <p>
                                ... ... ...
                            </p>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="wrap_testmoanil_info">
                            <span class="client_img">
                                <img src="Contents/images/model-free-photos/man-3-1.jpeg" alt="cleint name" />
                            </span>
                            <div class="testmonail_info_2">
                                <h3 class="tp_medium_title">Paul Adams</h3>
                                <span class="testmonail_job_2">Property manager</span>
                                <ul class="testmonail_rating p_color">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrap_tesmonail_text">
                            <p>
                                ... ... ...
                            </p>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="wrap_testmoanil_info">
                            <span class="client_img">
                                <img src="Contents/images/model-free-photos/women-2-1.jpeg" alt="cleint name" />
                            </span>
                            <div class="testmonail_info_2">
                                <h3 class="tp_medium_title">Eliese Watson</h3>
                                <span class="testmonail_job_2">Real estate</span>
                                <ul class="testmonail_rating p_color">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrap_tesmonail_text">
                            <p>
                                ... ... ...
                            </p>
                        </div>
                    </li>

                </ul>
                <div class="uk-dark tp_testmonail_nav">
                    <a class="uk-position-small" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
                    <a class="uk-position-small" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact Us -->
<section class="tagpoint_row_section contact_us">
    <div class="container">
        <div class="row contcat_row contact_row_2">
            <div class="col-lg-4 col-md-12 col-12 ">
                <div class="wrap_contact_info">
                    <div class="title_section">
                        <h2 class="tp-large-head  " data-uk-scrollspy="cls: uk-animation-slide-top-small;delay: 500;">
                            Connect
                        </h2>
                    </div>
                    <div class="title_description_section contact_desc">
                        <p class="tp_section_description ">
                            There are many ways to keep in touch with us.
                        </p>
                        <ul class="tagpoint-contact-socail ">
                            <li class="lsl-facebook">
                                <a href="#" title="Facebook">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="lsl-twitter">
                                <a href="#" title="Twitter">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="lsl-linkedin">
                                <a href="#" title="LinkedIn">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="lsl-rss">
                                <a href="#" title="Rss">
                                    <i class="bx bx-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="tp_location">
                    <h3 class="tp_medium_title ">Key contact </h3>
                    <p class="contact_details">
                        Muhammad Tariq
                        <br /> 53 Village centre pl,
                        <br /> Mississauga, ON, L4Z 2V9
                        <br />
                        <br /><i class='bx bxs-envelope'></i> info@karez.ca
                        <br />
                        <i class='bx bxs-watch'></i> 9am - 6:00pm &nbsp;&nbsp;|&nbsp;&nbsp; <a href="tel:905 949 9993" class="contac_number p_color"> +1 905 949 9993 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="tp_footer ">
    <div class="container tagpoint_container">
        <div class="footer_wrap_nav">
            <ul class="footer_navbar">
                <li><a href="#">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Conact us</a></li>
            </ul>
        </div>
        <div class="row copywright_row">
            <div class="col-lg-7 col-md-7 col-12 ">
                <p class="copywright">
                    Copyright © 2018
                </p>
            </div>
            <div class="col-5 col-md-5 col-12">
                <ul class="privacy_list tp_algin_right">
                    <li><a href="#">Privacy Policy</a>|</li>
                    <li><a href="#">Cookie Policy</a>|</li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="tp-per-load"></div>

