
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}

<!-- Heading info -->
<section class="tagpoint_row_section service_features" style="padding: 50px 0px 5px 0px">
    <div class="container">
        <h2 class="tp-large-head">
            Contact information
        </h2>
    </div>
</section>

<!-- contact us info -->
<section class="tagpoint_row_section ">
    <div class="container">
        <div class="row " data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;target: .icon_services;delay: 300;">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="tp_wrap_icontitle icon_services tp_algin_center  tp_icon_center">
                    <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle ">
                        <span class="tp_it_icon p_color">
                            <i class='bx bx-map'></i>
                        </span>
                    </div>
                    <div class="tp_icon_text">
                        <h3 class="tp_medium_title ">
                            Our address
                        </h3>
                        <p class="tp_icon_decs">
                            53 Village centre Pl, Mississauga, ON, L4Z 2V9
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="tp_wrap_icontitle icon_services tp_algin_center  tp_icon_center">
                    <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle ">
                        <span class="tp_it_icon p_color">
                            <i class='bx bx-phone-call'></i>
                        </span>
                    </div>
                    <div class="tp_icon_text">
                        <h3 class="tp_medium_title ">
                            Contact us
                        </h3>
                        <p class="tp_icon_decs">
                            Phone : (+1) 905 949 9993
                            <br /> Email : info@karez.ca
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="tp_wrap_icontitle icon_services tp_algin_center  tp_icon_center">
                    <div class="tagpoint_tiwrap_icon  tp_meduim_icon icon_circle ">
                        <span class="tp_it_icon p_color">
                            <i class='bx bx-time'></i>
                        </span>
                    </div>
                    <div class="tp_icon_text">
                        <h3 class="tp_medium_title ">
                            Opened hours
                        </h3>
                        <p class="tp_icon_decs">
                            Day : Monday - Friday
                            <br /> Hour : 9.00 AM - 6.00 PM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form -->
<div class="tagpoint_row_section contact_form" style="padding-top:0px">
    <div class="container">
        <div class="row contact-map-form">
            <div class="col-lg-6 col-md-12 col-12  col-map">
                <div id="tp-map" class="tp-map"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-12  col-form">
                <form action="#" id="tp-form" class="tp-form-1">
                    <p class="tp-form-el">
                        <span class="tp-title-feild"><label for="tp-username"> Name : </label></span>
                        <input type="text" name="tp-username" id="tp-username" class="tp-feild tp-user-name" required>
                    </p>
                    <p class="tp-form-el">
                        <span class="tp-title-feild"><label for="tp-phone"> Mobile No : </label> :</span>
                        <input type="number" id="tp-phone" name="tp-phone" class="tp-feild tp-phone">
                    </p>
                    <p class="tp-form-el">
                        <span class="tp-title-feild"><label for="tp-email"> Email : </label></span>
                        <input type="email" name="tp-email" class="tp-feild tp-email" id="tp-email" required>
                    </p>
                    <p class="tp-form-el">
                        <textarea name="tp-message" class="tp-feild tp-message" id="tp-message" rows="5" placeholder="  Write Your Message Here " required></textarea>
                    </p>
                    <div class="tp-wrap-btn tpsend-btn tp_btn">
                        <button type="submit" class="border_button sendmessage_btn" id="tp-submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- banner section -->
<section class="tagpoint_row_section tp_banner_section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="wrap_banner_col">
                    <h2 class="tp-large-head w_color " data-uk-scrollspy="cls: uk-animation-slide-top-small;delay: 250;">
                        Ready to get a quote today?
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="tp_banner_btn tp_algin_right " data-uk-scrollspy="cls: uk-animation-slide-left-small;delay: 350;">
                    <a href="#" title="Contact Us" class="slide_btn slide_btn_2 banner_btn">
                        <span class="tp_second_btn s_bg tp_btn p_color">
                            Contact us  <i class="bx  bx-chevron-right tp_algin_center"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact Us -->
<section class="tagpoint_row_section contact_us">
    <div class="container">
        <div class="row contcat_row contact_row_2">
            <div class="col-lg-4 col-md-12 col-12 ">
                <div class="wrap_contact_info">
                    <div class="title_section">
                        <h2 class="tp-large-head  " data-uk-scrollspy="cls: uk-animation-slide-top-small;delay: 500;">
                            Connect
                        </h2>
                    </div>
                    <div class="title_description_section contact_desc">
                        <p class="tp_section_description ">
                            There are many ways to keep in touch with us. 
                        </p>
                        <ul class="tagpoint-contact-socail ">
                            <li class="lsl-facebook">
                                <a href="#" title="Facebook">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li class="lsl-twitter">
                                <a href="#" title="Twitter">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li class="lsl-linkedin">
                                <a href="#" title="LinkedIn">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                            <li class="lsl-rss">
                                <a href="#" title="Rss">
                                    <i class="bx bx-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="tp_location">
                    <h3 class="tp_medium_title ">Key contact</h3>
                    
                    <p class="contact_details">
                        Muhammad Tariq
                        <br /> 53 Village centre pl,
                        <br /> Mississauga, ON, L4Z 2V9
                        <br />
                        <br /><i class='bx bxs-envelope'></i> info@karez.ca
                        <br />
                        <i class='bx bxs-watch'></i> 9am - 6:00pm &nbsp;&nbsp;|&nbsp;&nbsp; <a href="tel:905 949 9993" class="contac_number p_color"> +1 905 949 9993 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- js library including -->
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('tp-map'), {
            center: { lat: 43.6006586, lng: -79.6410637 },
            zoom: 17,
            zoomControl: false,
            disableDefaultUI: true,
            panControl: false,
            streetViewControl: true,
            mapTypeControl: false,
            overviewMapControl: false,
            clickable: false,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMA
        });
    } // close function here
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkVEs4BVh_G2JylhnQC-LpXKWtdGbnKUE&callback=initMap" async defer></script>