
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}

<!-- Heading info -->
<section class="tagpoint_row_section service_features" style="padding: 50px 0px 5px 0px">
    <div class="container">
        <h2 class="tp-large-head">
            Karez and team
        </h2>
    </div>
</section>
<!-- Page body -->
<div class="tagpoint_row_section" style="padding:30px 0px 30px 0px">
    <div class="container">
        <div class="">
            Karez is an online property management software to manage small or large properties. We built the system as per the requirements of property owners, managers and tenants. Our core engine is developed to provide functionalities to a variety of platforms: Web app, Mobile app and Third party integration.
            <br />
            <div class="row">
                <div class="container">
                    <div class="col-lg-6 col-md-12 col-12">
                        <br />
                        <h1>
                            <b> Core engine</b>
                        </h1>
                        <p>
                            » Property listing <br />
                            » Tenant application and approval <br />
                            » Document collection <br />
                            » Rental dues and payments <br />
                            » Reporting and resolving maintenance issues <br />
                            » Work order and contractor management <br />
                            » Handling of notices and notifications <br />
                            » Management Reports <br />
                        </p>
                    </div>
                </div>

            </div>


        </div>

        <div style="padding-top:100px">
            <a href="~/Contents/files/karez.pptx" target="_blank"> Download product presentation </a>
        </div>
    </div>
</div>

