<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title> Karez - Property Management System </title>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="Contents/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="Contents/css/boxicons.min.css" media="all">
    <link rel="stylesheet" href="Contents/css/uikit.min.css" media="all">
    <link rel="stylesheet" href="Contents/css/style.css" media="all">
    <link rel="stylesheet" href="Contents/css/responsive.css" media="all">
</head>

<body>
    <div>
        @RenderBody()
    </div>
   
    <!-- js library including -->
    <script src="Contents/js/jquery.min.js"></script>
    <script src="Contents/js/uikit.min.js"></script>
    <script src="Contents/js/odometer.min.js"></script>
    <script src="Contents/js/jquery.appear.min.js"></script>
    <script src="Contents/js/index.js"></script>
</body>
</html>